/vendor/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
composer.lock
erro_log
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
